body,
html {
  overflow-x: hidden;
  font-family: 'Victor Mono', monospace;
  color: white;
}

.webgL {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -75%);
}

button {
  font-family: 'Victor Mono', monospace;
  background-color: transparent;
  color: white;
  border-radius: 1em;
  border: 1px solid white;
}

button:hover {
  box-shadow: 4px 4px 4px .5px rgba(234, 224, 81, 0.744);
}

#audio {
  width: fit-content;
  padding: 1em;
  border: 1px solid white;
  border-radius: 1em;
  z-index: 2;
}

/* 
.spotify {
  color: white;
} */